#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=guigrid
Categories=Utility;Development;
Name=GUIGrid
GenericName=SBGrid Program Version Manager
Comment=GUIGrid is a gui tool to control the versions of SBGrid managed software.
